In [1]:
import pandas as pd

In [2]:
shooting_df = pd.read_csv('data/fatal-police-shootings-data.csv')
shooting_df

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6082,6651,NaN,2021-02-26,shot and Tasered,gun,NaN,M,NaN,San Antonio,TX,False,attack,Foot,False,-98.452,29.429,True
6083,6644,NaN,2021-02-27,shot,undetermined,NaN,M,NaN,Dora,AL,False,undetermined,NaN,False,-87.090,33.729,True
6084,6645,NaN,2021-02-27,shot,gun,NaN,M,NaN,Sebeka,MN,False,attack,NaN,False,-94.937,46.616,True
6085,6646,NaN,2021-02-27,shot,undetermined,NaN,M,NaN,Sebeka,MN,False,attack,NaN,False,-94.937,46.616,True
6086,6647,NaN,2021-02-27,shot,gun,NaN,M,NaN,Clay County,FL,False,attack,NaN,False,-81.747,30.162,True

In [3]:
cali_shot = shooting_df.loc[shooting_df['state'] == 'CA', :]
cali_shot

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
10,19,Patrick Wetter,2015-01-06,shot and Tasered,knife,25.0,M,W,Stockton,CA,False,attack,Not fleeing,False,-121.299,37.930,True
22,43,Brian Barbosa,2015-01-11,shot,gun,23.0,M,H,South Gate,CA,False,attack,Not fleeing,False,-118.183,33.951,True
35,63,Jose Ceja,2015-01-15,shot,knife,36.0,M,H,Fairfield,CA,True,other,Not fleeing,False,-121.997,38.266,True
38,68,Zaki Shinwary,2015-01-16,shot and Tasered,knife,48.0,M,O,Fremont,CA,False,other,Not fleeing,False,-122.060,37.588,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6027,6568,Anthony Loia,2021-02-06,shot,gun,26.0,M,NaN,Long Beach,CA,False,attack,NaN,True,-118.198,33.784,True
6032,6566,Brooke Leann Blair,2021-02-07,shot,toy weapon,27.0,F,NaN,Redding,CA,False,other,NaN,False,-122.381,40.575,True
6053,6614,NaN,2021-02-15,shot,undetermined,NaN,M,NaN,El Monte,CA,False,attack,Foot,False,-118.011,34.064,True
6054,6615,Royce Robertson,2021-02-15,shot,gun,33.0,M,W,Indian Wells,CA,False,other,Car,False,-116.292,33.712,True
6074,6632,NaN,2021-02-25,shot,undetermined,NaN,M,NaN,West Sacramento,CA,False,undetermined,NaN,False,-121.549,38.589,True

In [4]:
census_df = pd.read_csv('data/full_census_data.csv')
census_df = census_df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])
census_df

,Geographic Area,City,Median Income,percent_completed_hs,poverty_rate,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AL,Abanda,11207,21.2,78.8,67.2,30.2,0,0,1.6
1,AL,Abbeville,25615,69.1,29.1,54.4,41.4,0.1,1,3.1
2,AL,Adamsville,42575,78.9,25.5,52.3,44.9,0.5,0.3,2.3
3,AL,Addison,37083,81.4,30.7,99.1,0.1,0,0.1,0.4
4,AL,Akron,21667,68.6,42,13.2,86.5,0,0,0.3
...,...,...,...,...,...,...,...,...,...,...
29110,WY,Woods Landing-Jelm,NaN,100,18.6,95.9,0,0,2.1,0
29111,WY,Worland,41523,85.6,15.3,89.9,0.3,1.3,0.6,16.6
29112,WY,Wright,77114,89.2,5.9,94.5,0.1,1.4,0.2,6.2
29113,WY,Yoder,37500,79.4,5.4,97.4,0,0,0,4
29114,WY,Y-O Ranch,NaN,100,0,92.8,1.5,2.6,0,11.8

In [5]:
cali_census = census_df.loc[census_df['Geographic Area'] == 'CA', :]
cali_census

,Geographic Area,City,Median Income,percent_completed_hs,poverty_rate,share_white,share_black,share_native_american,share_asian,share_hispanic
1917,CA,Acalanes Ridge,156953,100,2.5,83.6,0.4,0.7,11.1,4.4
1918,CA,Acampo,152713,77.1,0,49.6,0,0.3,0.9,58.4
1919,CA,Acton,89150,88.2,7.6,86.4,0.8,0.9,2,18.1
1920,CA,Adelanto,33298,67.5,40.3,43.8,20.5,1.3,1.9,58.3
1921,CA,Adin,(X),100,12.6,88.2,0.7,2.9,0,11.8
...,...,...,...,...,...,...,...,...,...,...
3421,CA,Yreka,28333,84.4,34.3,83.6,0.7,6.3,1.2,9.7
3422,CA,Yuba City,50649,78.3,18.5,57.6,2.5,1.4,17.2,28.4
3423,CA,Yucaipa,56452,86.4,16.7,79.5,1.6,0.9,2.8,27.1
3424,CA,Yucca Valley,40030,85.5,21,83.5,3.2,1.1,2.3,17.8
3425,CA,Zayante,81513,96.4,7.7,91.8,1.4,0.9,0.6,8.1

In [6]:
cali_census = cali_census.rename(columns = {'City': 'city'})
cali_census

,Geographic Area,city,Median Income,percent_completed_hs,poverty_rate,share_white,share_black,share_native_american,share_asian,share_hispanic
1917,CA,Acalanes Ridge,156953,100,2.5,83.6,0.4,0.7,11.1,4.4
1918,CA,Acampo,152713,77.1,0,49.6,0,0.3,0.9,58.4
1919,CA,Acton,89150,88.2,7.6,86.4,0.8,0.9,2,18.1
1920,CA,Adelanto,33298,67.5,40.3,43.8,20.5,1.3,1.9,58.3
1921,CA,Adin,(X),100,12.6,88.2,0.7,2.9,0,11.8
...,...,...,...,...,...,...,...,...,...,...
3421,CA,Yreka,28333,84.4,34.3,83.6,0.7,6.3,1.2,9.7
3422,CA,Yuba City,50649,78.3,18.5,57.6,2.5,1.4,17.2,28.4
3423,CA,Yucaipa,56452,86.4,16.7,79.5,1.6,0.9,2.8,27.1
3424,CA,Yucca Valley,40030,85.5,21,83.5,3.2,1.1,2.3,17.8
3425,CA,Zayante,81513,96.4,7.7,91.8,1.4,0.9,0.6,8.1

In [7]:
cali_merged = cali_shot.merge(cali_census, how = 'left', on='city')
cali_merged

,id,name,date,manner_of_death,armed,age,gender,race,city,state,...,is_geocoding_exact,Geographic Area,Median Income,percent_completed_hs,poverty_rate,share_white,share_black,share_native_american,share_asian,share_hispanic
0,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,...,True,CA,81294,87,13.2,48.5,6.1,0.5,33.3,15.1
1,19,Patrick Wetter,2015-01-06,shot and Tasered,knife,25.0,M,W,Stockton,CA,...,True,CA,44797,74.9,25.3,37,12.2,1.1,21.5,40.3
2,43,Brian Barbosa,2015-01-11,shot,gun,23.0,M,H,South Gate,CA,...,True,CA,43552,52.4,20,50.5,0.9,0.9,0.8,94.8
3,63,Jose Ceja,2015-01-15,shot,knife,36.0,M,H,Fairfield,CA,...,True,CA,67364,85.6,13.2,46,15.7,0.8,14.9,27.3
4,68,Zaki Shinwary,2015-01-16,shot and Tasered,knife,48.0,M,O,Fremont,CA,...,True,CA,105355,92.3,6.1,32.8,3.3,0.5,50.6,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899,6568,Anthony Loia,2021-02-06,shot,gun,26.0,M,NaN,Long Beach,CA,...,True,CA,52783,79.4,20.6,46.1,13.5,0.7,12.9,40.8
900,6566,Brooke Leann Blair,2021-02-07,shot,toy weapon,27.0,F,NaN,Redding,CA,...,True,CA,43341,90.6,18.8,85.8,1.2,2.3,3.4,8.7
901,6614,NaN,2021-02-15,shot,undetermined,NaN,M,NaN,El Monte,CA,...,True,CA,38085,57.8,24.9,38.8,0.8,1,25.1,69
902,6615,Royce Robertson,2021-02-15,shot,gun,33.0,M,W,Indian Wells,CA,...,True,CA,93625,94.4,4.6,95.2,0.6,0.4,1.7,4.2
903,6632,NaN,2021-02-25,shot,undetermined,NaN,M,NaN,West Sacramento,CA,...,True,CA,52763,82.7,17.7,60.6,4.8,1.6,10.5,31.4

In [9]:
cali_merged = cali_merged.drop_duplicates(['id'])
cali_merged

,id,name,date,manner_of_death,armed,age,gender,race,city,state,...,is_geocoding_exact,Geographic Area,Median Income,percent_completed_hs,poverty_rate,share_white,share_black,share_native_american,share_asian,share_hispanic
0,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,...,True,CA,81294,87,13.2,48.5,6.1,0.5,33.3,15.1
1,19,Patrick Wetter,2015-01-06,shot and Tasered,knife,25.0,M,W,Stockton,CA,...,True,CA,44797,74.9,25.3,37,12.2,1.1,21.5,40.3
2,43,Brian Barbosa,2015-01-11,shot,gun,23.0,M,H,South Gate,CA,...,True,CA,43552,52.4,20,50.5,0.9,0.9,0.8,94.8
3,63,Jose Ceja,2015-01-15,shot,knife,36.0,M,H,Fairfield,CA,...,True,CA,67364,85.6,13.2,46,15.7,0.8,14.9,27.3
4,68,Zaki Shinwary,2015-01-16,shot and Tasered,knife,48.0,M,O,Fremont,CA,...,True,CA,105355,92.3,6.1,32.8,3.3,0.5,50.6,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899,6568,Anthony Loia,2021-02-06,shot,gun,26.0,M,NaN,Long Beach,CA,...,True,CA,52783,79.4,20.6,46.1,13.5,0.7,12.9,40.8
900,6566,Brooke Leann Blair,2021-02-07,shot,toy weapon,27.0,F,NaN,Redding,CA,...,True,CA,43341,90.6,18.8,85.8,1.2,2.3,3.4,8.7
901,6614,NaN,2021-02-15,shot,undetermined,NaN,M,NaN,El Monte,CA,...,True,CA,38085,57.8,24.9,38.8,0.8,1,25.1,69
902,6615,Royce Robertson,2021-02-15,shot,gun,33.0,M,W,Indian Wells,CA,...,True,CA,93625,94.4,4.6,95.2,0.6,0.4,1.7,4.2
903,6632,NaN,2021-02-25,shot,undetermined,NaN,M,NaN,West Sacramento,CA,...,True,CA,52763,82.7,17.7,60.6,4.8,1.6,10.5,31.4

In [10]:
cali_merged.to_csv('data/cali_combined.csv')